*,*::before, *::after{
    box-sizing:border-box;
    font-family:tahoma;
    font-weight:normal;

}
body{
    padding:0;
    margin:0;
    transition-delay: .5s;
    background:linear-gradient(to right, rgb(87, 0, 22), rgb(8, 63, 217))
}


.calculator-grid{
    display:grid;
    margin-top:50px;
    justify-content:center;
    align-content:center;
    min-height:80vh;
    opacity: .8;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:minmax(120px,auto) repeat(5,100px);
    
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border:1px solid black;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255,255,255,.75);
    
}
.calculator-grid > button:hover
{
    background-color: rgba(255,255,255,.9);
    transition: .5s;
    transform: scale(1.1);
}

.span-two{
    grid-column: span 2;
}
.output
{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,0.75);
    display:flex;
    align-items:flex-end;
    justify-content:space-around;
    flex-direction: column;
    padding:10px;
    word-wrap:break-word;
    word-break: break-all;
    border-radius:5px;
}

.output .previous-operand
{
    color: rgba(255,255,255,.75);
    font-size:1.5rem;
}
.output .current-operand
{
    color: rgba(255,255,255,.75);
    font-size:2.5rem;
}
